.padre {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.05fr 1fr 0.05fr;
}

.hijo {
  background: grey;
  padding: 8px;
  margin: 2px;
  text-align: center;
}

.texto {
  text-align: center;
}

.box {
  background-color: #fff;
  color: black;
  border-radius: 5px;
  padding: 20px;
  font-size: 150%;
  border: 1px solid black;
  display: flex;
  text-align: center;
  justify-content: center;
  line-height: 50px;
}

.wrapper {
  width: 600px;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(5, 100px);
  grid-template-rows: 100px 100px 100px;
  grid-auto-flow: column;
  justify-content: center;
  align-content: center;
}

.numero {
  display: grid;
  justify-content: center;
  align-content: center;
  font-size: 90px;
}
